body {background-color:black;}
h1
{
    color:green;
    color: gray;
    font-size: 40px;
}

p
{
    margin-left: 20%;
}

.conatiner-div
{
    background-color: white;
    width: fit-content;
    padding: 2%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 1px;
    border-radius: 25px;
    margin-left: 35%;
}
footer
{
    margin-top: 5%;
}
#result
{
    margin-top: 2%;
}
.highlight
{
    background-color: yellow;
}


